extends ../layouts/default

block content
  .container
    .jumbotron.home
      h1 ehr.js
      p A node.js and MongoDB electronic health record.
      a.btn.btn-lg.btn-primary(href='/login') Log In
